body {
    background-color: #fff9f0;
}
label {
    font-size: 12px !important;
}
.white-font {
    color:white !important;
}
.large-top-margin {
    margin-top: 20px;
}
.small-top-margin {
    margin-top: 5px;
}
.mybtn {
    width: 70px;
    margin-top:20px;
}
.square-btn {
    width:40px !important;
  
}



/*修改的bootstrap css*/
.navbar {
    background-color: #008651;
    border-color: #008651;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #ccc;
}
.navbar .navbar-collapse .dropdown > a:focus {
    outline: 0;
    color: white;
    background-color: #3CB371;
}
.panel-heading {
    background-color: #f39c12 /* #f39c12*/ !important;
    font-size: 14px;
    color: white !important;
}
.btn {
    font-size: 12px;
    /*width: 70px;*/
}
.table > thead > tr > th {
    background-color: #314855; /*#CA7508*/
    color: white;
    vertical-align: bottom;
}
table {
    font-size: 12px;
}


/*Demand style*/
.sheet {
    margin-top:20px;    
}
.sheet-body {
    max-width: 100%;
    min-width: 300px;
    width: 50%;
    display:inline-block;
    /*margin: auto;*/
    text-align: center;
    /*border:#eee solid 3px;*/
    background: #e8e8e8
}

.sheet-main {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.sheet-item {
    margin-top: 10px;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 5px 5px;
    background-color:white;
}

.item-title {
    display: block;
}

.item-title-inline {
    display: inline-block;
}

.item-text,
.item-text-blue
{
    font-size:12px;
    font-weight:300;
}
.item-text-blue {
    color:blue;
}


.item-input {
    max-width: 500px;
}

.width-mathc {
    max-width:100% !important;
}


/*Demand list style*/
.sheet-right-body {
    float: right;
    width: 20%;
    text-align: center;
}

.sheet-right-body .right-main {
    overflow-y: scroll;
    padding-right:10px;
    height: 600px;
}

.sheet-right-body ul {
    display:table;
    list-style:none;
    text-align:center;
}

.sheet-card {
    width: 100%;
    height: 120px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
}

.card-open {
   border-color:green;
   box-shadow: #3CB371 1px 2px 3px;
}
.card-ongoing {
    border-color: orangered;
    box-shadow: #f39c12 1px 2px 3px;
}


/*Calendar style */
.sheet-left-body {
    float: left;
    width: 30%;
    text-align: center;
    /*background-color: rebeccapurple;*/
}



/*Animation*/
.front {
    position: absolute;
    z-index: 10;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}